html{
    font-size: 20px;
}
.small-text{
    font-size: 0.7rem;
    margin-bottom: 40px;
}
.container{
    background-color: lightgray;
    max-width: 500px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}